<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>vi</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSFaceIDUsageDescription</key>
	<string>Enabling Face ID allows you quick and secure access to your account.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>SanFranciscoDisplay-Black.otf</string>
		<string>SanFranciscoDisplay-Bold.otf</string>
		<string>SanFranciscoDisplay-Heavy.otf</string>
		<string>SanFranciscoDisplay-Light.otf</string>
		<string>SanFranciscoDisplay-Medium.otf</string>
		<string>SanFranciscoDisplay-Regular.otf</string>
		<string>SanFranciscoDisplay-Semibold.otf</string>
		<string>SanFranciscoDisplay-Thin.otf</string>
		<string>SanFranciscoDisplay-Ultralight.otf</string>
		<string>SanFranciscoText-Bold.otf</string>
		<string>SanFranciscoText-BoldG1.otf</string>
		<string>SanFranciscoText-BoldG2.otf</string>
		<string>SanFranciscoText-BoldG3.otf</string>
		<string>SanFranciscoText-BoldItalic.otf</string>
		<string>SanFranciscoText-BoldItalicG1.otf</string>
		<string>SanFranciscoText-BoldItalicG2.otf</string>
		<string>SanFranciscoText-BoldItalicG3.otf</string>
		<string>SanFranciscoText-Heavy.otf</string>
		<string>SanFranciscoText-HeavyItalic.otf</string>
		<string>SanFranciscoText-Italic.otf</string>
		<string>SanFranciscoText-ItalicG1.otf</string>
		<string>SanFranciscoText-ItalicG2.otf</string>
		<string>SanFranciscoText-ItalicG3.otf</string>
		<string>SanFranciscoText-Light.otf</string>
		<string>SanFranciscoText-LightItalic.otf</string>
		<string>SanFranciscoText-Medium.otf</string>
		<string>SanFranciscoText-MediumItalic.otf</string>
		<string>SanFranciscoText-Regular.otf</string>
		<string>SanFranciscoText-RegularG1.otf</string>
		<string>SanFranciscoText-RegularG2.otf</string>
		<string>SanFranciscoText-RegularG3.otf</string>
		<string>SanFranciscoText-Semibold.otf</string>
		<string>SanFranciscoText-SemiboldItalic.otf</string>
		<string>SanFranciscoText-Thin.otf</string>
		<string>SanFranciscoText-ThinItalic.otf</string>
		<string>Lato-Black.ttf</string>
		<string>Lato-BlackItalic.ttf</string>
		<string>Lato-Bold.ttf</string>
		<string>Lato-BoldItalic.ttf</string>
		<string>Lato-Hairline.ttf</string>
		<string>Lato-Heavy.ttf</string>
		<string>Lato-Italic.ttf</string>
		<string>Lato-Light.ttf</string>
		<string>Lato-LightItalic.ttf</string>
		<string>Lato-Medium.ttf</string>
		<string>Lato-Regular.ttf</string>
		<string>Lato-Thin.ttf</string>
		<string>Lato-ThinItalic.ttf</string>
		<string>Roboto-Black.ttf</string>
		<string>Roboto-BlackItalic.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-BoldItalic.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-LightItalic.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-MediumItalic.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Thin.ttf</string>
		<string>Roboto-ThinItalic.ttf</string>
	</array>
</dict>
</plist>
